
body {
  @apply flex flex-col h-screen m-0 p-8 font-sans text-lg leading-8 bg-uocBg text-uocCorporate;
}

.navbar {
  @apply bg-gray-100 border-b border-gray-300 p-2 flex justify-between items-center;

  .navbar-brand {
    @apply text-xl font-bold text-uocCorporate;
  }

  .navbar-toggler {
    @apply text-xl bg-transparent cursor-pointer border-none ml-auto md:hidden;

    &:focus {
      outline: none;
    }
  }

  .navbar-collapse {
    @apply hidden md:flex;

    &.show {
      @apply block;
    }
  }

  .navbar-nav {
    @apply list-none m-0 p-0 flex flex-col md:flex-row;

    .nav-item {
      @apply mr-4;

      .nav-link {
        @apply text-uocCorporate no-underline;

        &.active {
          @apply font-bold text-uocMasterbrand;
        }
      }
    }
  }
}

.uoc-grid {
  @apply grid grid-cols-1 md:grid-cols-3 gap-4;

  .uoc-grid__item {
    @apply bg-white p-4 rounded-lg shadow-lg;

    img {
      @apply w-full h-auto rounded-lg shadow-lg;
    }
  }

  .uoc-grid__item--image {
    @apply animate__animated animate__fadeIn;
  }

  .uoc-grid__item--text {
    @apply md:col-span-2 animate__animated animate__bounceIn text-center;
  }

  .uoc-logo {
    @apply w-full h-auto mx-auto mb-4 max-w-xs;

    @media (min-width: $mqMinWidth) {
      max-width: none;
    }
  }

  .uoc-title {
    @apply text-2xl font-serif font-bold text-uocCorporate mb-4;

    @media (min-width: $mqMinWidth) {
      font-size: $font-size-large;
    }
  }

  .uoc-footer {
    @apply mt-4 text-sm text-center;

    @media (min-width: $mqMinWidth) {
      font-size: $font-size-small;
    }
  }
}
