<h1 class="uoc-title">Hello, UOC!</h1>
<picture class="uoc-grid__item uoc-grid__item--image">
  <source srcset="./assets/images/imagen1.jpeg?as=webp&width=350" type="image/webp" />
  <img src="./assets/images/imagen1.jpeg?width=350" alt="Universitat Oberta de Catalunya" class="uoc-logo" />
</picture>
<div class="uoc-grid__item uoc-grid__item--text card">
  <p>This is a starter template for the Advanced HTML and CSS Tools courses from the Master's Program in Multimedia Applications and the Master's Program in Web App and Website Development at the Universitat Oberta de Catalunya.</p>
</div>

